{% extends "base-page.html" %}
{% load static %}


{% block title %}
    Home page
{% endblock title %}

{% block container %}


    <div class="page-desc-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-desc">
                    <h2 class="animated" data-animation="fadeInRight" data-animation-delay="300">Новости</h2>
                    <p class="animated" data-animation="fadeInLeft" data-animation-delay="300">Производство достижимо в разумные сроки. Поэтому перераспределение бюджета</p>
                </div>
            </div>
        </div>
    </div>
    <section class="blog-post">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 animated" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="thumbnail">
                        <div class="img-box">
                            <div class="img-block"><img src='{% static "images/blog-2/1.jpg" %}' alt="blog" class="img-responsive">
                                <div class="blog-date">
                                    <h2>31</h2>
                                    <p>Авг</p>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h3>Заголовок новости</h3>
                            <p>А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.</p><a href="blog-single.html" class="read-more">Подробнее</a>
                            <ul class="post-details">
                                <li>
                                    <p><i class="fa fa-user"><span>Автор:</span></i><a href="#">Иван Дионтьев</a>
                                    </p>
                                </li>
                                <li>
                                    <p><i class="fa fa-comments"><span>Комментарии:</span></i><a href="#">5</a>
                                    </p>
                                </li>
                                <li>
                                    <p><i class="fa fa-folder"><span>Категория:</span></i><a href="#">Новости</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 animated" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="thumbnail">
                        <div class="img-box">
                            <div class="img-block"><img src='{% static "images/blog-2/2.jpg" %}' alt="blog" class="img-responsive">
                                <div class="blog-date">
                                    <h2>31</h2>
                                    <p>Авг</p>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h3>Заголовок новости</h3>
                            <p>А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.</p><a href="blog-single.html" class="read-more">Подробнее</a>
                            <ul class="post-details">
                                <li>
                                    <p><i class="fa fa-user"><span>Автор:</span></i><a href="#">Иван Дионтьев</a>
                                    </p>
                                </li>
                                <li>
                                    <p><i class="fa fa-comments"><span>Комментарии:</span></i><a href="#">5</a>
                                    </p>
                                </li>
                                <li>
                                    <p><i class="fa fa-folder"><span>Категория:</span></i><a href="#">Новости</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 animated" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="thumbnail">
                        <div class="img-box">
                            <div class="img-block"><img src='{% static "images/blog-2/3.jpg" %}' alt="blog" class="img-responsive">
                                <div class="blog-date">
                                    <h2>31</h2>
                                    <p>Авг</p>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h3>Заголовок новости</h3>
                            <p>А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.</p><a href="blog-single.html" class="read-more">Подробнее</a>
                            <ul class="post-details">
                                <li>
                                    <p><i class="fa fa-user"><span>Автор:</span></i><a href="#">Иван Дионтьев</a>
                                    </p>
                                </li>
                                <li>
                                    <p><i class="fa fa-comments"><span>Комментарии:</span></i><a href="#">5</a>
                                    </p>
                                </li>
                                <li>
                                    <p><i class="fa fa-folder"><span>Категория:</span></i><a href="#">Новости</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 animated" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="thumbnail">
                        <div class="img-box">
                            <div class="img-block"><img src='{% static "images/blog-2/4.jpg" %}' alt="blog" class="img-responsive">
                                <div class="blog-date">
                                    <h2>31</h2>
                                    <p>Авг</p>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h3>Заголовок новости</h3>
                            <p>А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.</p><a href="blog-single.html" class="read-more">Подробнее</a>
                            <ul class="post-details">
                                <li>
                                    <p><i class="fa fa-user"><span>Автор:</span></i><a href="#">Иван Дионтьев</a>
                                    </p>
                                </li>
                                <li>
                                    <p><i class="fa fa-comments"><span>Комментарии:</span></i><a href="#">5</a>
                                    </p>
                                </li>
                                <li>
                                    <p><i class="fa fa-folder"><span>Категория:</span></i><a href="#">Новости</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 animated" data-animation="fadeInUp" data-animation-delay="500">
                    <ul class="pagination">
                        <li><a href="#"><i class="fa fa-2x fa-angle-left"></i></a>
                        </li>
                        <li><a href="#">1</a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

{% endblock container %}