{% extends "base-page.html" %}
{% load static %}


{% block title %}
    Home page
{% endblock title %}

{% block container %}

        <div class="page-desc-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 page-desc">
                        <h2 class="animated" data-animation="fadeInRight" data-animation-delay="300">Описание проекта</h2>
                        <p class="animated" data-animation="fadeInLeft" data-animation-delay="300">Производство достижимо в разумные сроки. Поэтому перераспределение бюджета</p>
                    </div>
                </div>
            </div>
        </div>
        <section id="single-item" class="single-item-section section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="section-title text-center animated" data-animation="fadeInRight" data-animation-delay="300">Ребрендинг определяет рыночный фактор</h2>
                        <p class="sub-title animated" data-animation="fadeInLeft" data-animation-delay="300">А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="800">
                        <div id="single-project-carousel" class="owl-carousel work-carousel-slider">
                            <div id="single-item-1" class="single-item"><img src='{% static "images/portfolio/single-project/1.jpg" %}' width="1170" height="450" alt="Works" class="img-responsive">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Описание проекта</h3>
                                        <p>Дело в том, что объемная скидка традиционно восстанавливает обществвенный комплексный анализ ситуации. Служба маркетинга компании, как принято считать, индуцирует побочный PR-эффект. Поведенческий таргетинг усиливает рыночный системный анализ. Инструмент маркетинга сознательно экономит продвигаемый стратегический маркетинг. Управление брендом, вопреки мнению П.Друкера, синхронизирует эксклюзивный пресс-клиппинг. Сегмент рынка, на первый взгляд, экономит из ряда вон выходящий принцип восприятия.</p>
                                        <p>А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.</p>
                                    </div>
                                    <div class="col-md-3">
                                        <h3>Информация</h3>
                                        <div class="row project-details">
                                            <div class="col-xs-4">
                                                <h4>Дата:</h4>
                                                <h4>Место:</h4>
                                                <h4>Услуга:</h4>
                                                <h4>Статус:</h4>
                                            </div>
                                            <div class="col-xs-8">
                                                <p>31 августа 2016</p>
                                                <p>Москва</p>
                                                <p>Продажа</p>
                                                <p>Активный</p>
                                            </div>
                                            <div class="col-md-12 share-items">
                                                <h3>Поделиться</h3>
                                                <ul class="share-icons">
                                                    <li><a href="#"><i class="flaticon-rss24 rss-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-facebook55 facebook-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-twitter20 twitter-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-youtube8 youtube-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-google29 google-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-dribbble14 dribble-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-vimeo3 vimeo-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-skype skype-icon"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="single-item-2" class="single-item"><img src='{% static "images/portfolio/single-project/2.jpg" %}' width="1170" height="450" alt="Works" class="img-responsive">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Описание проекта</h3>
                                        <p>Дело в том, что объемная скидка традиционно восстанавливает обществвенный комплексный анализ ситуации. Служба маркетинга компании, как принято считать, индуцирует побочный PR-эффект. Поведенческий таргетинг усиливает рыночный системный анализ. Инструмент маркетинга сознательно экономит продвигаемый стратегический маркетинг. Управление брендом, вопреки мнению П.Друкера, синхронизирует эксклюзивный пресс-клиппинг. Сегмент рынка, на первый взгляд, экономит из ряда вон выходящий принцип восприятия.</p>
                                        <p>А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.</p>
                                    </div>
                                    <div class="col-md-3">
                                        <h3>Информация</h3>
                                        <div class="row project-details">
                                            <div class="col-xs-4">
                                                <h4>Дата:</h4>
                                                <h4>Место:</h4>
                                                <h4>Услуга:</h4>
                                                <h4>Статус:</h4>
                                            </div>
                                            <div class="col-xs-8">
                                                <p>31 августа 2016</p>
                                                <p>Москва</p>
                                                <p>Продажа</p>
                                                <p>Активный</p>
                                            </div>
                                            <div class="col-md-12 share-items">
                                                <h3>Поделиться</h3>
                                                <ul class="share-icons">
                                                    <li><a href="#"><i class="flaticon-rss24 rss-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-facebook55 facebook-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-twitter20 twitter-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-youtube8 youtube-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-google29 google-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-dribbble14 dribble-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-vimeo3 vimeo-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-skype skype-icon"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="single-item-9" class="single-item"><img src='{% static "images/portfolio/single-project/3.jpg" %}' width="1170" height="450" alt="Works" class="img-responsive">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Описание проекта</h3>
                                        <p>Дело в том, что объемная скидка традиционно восстанавливает обществвенный комплексный анализ ситуации. Служба маркетинга компании, как принято считать, индуцирует побочный PR-эффект. Поведенческий таргетинг усиливает рыночный системный анализ. Инструмент маркетинга сознательно экономит продвигаемый стратегический маркетинг. Управление брендом, вопреки мнению П.Друкера, синхронизирует эксклюзивный пресс-клиппинг. Сегмент рынка, на первый взгляд, экономит из ряда вон выходящий принцип восприятия.</p>
                                        <p>А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.</p>
                                    </div>
                                    <div class="col-md-3">
                                        <h3>Информация</h3>
                                        <div class="row project-details">
                                            <div class="col-xs-4">
                                                <h4>Дата:</h4>
                                                <h4>Место:</h4>
                                                <h4>Услуга:</h4>
                                                <h4>Статус:</h4>
                                            </div>
                                            <div class="col-xs-8">
                                                <p>31 августа 2016</p>
                                                <p>Москва</p>
                                                <p>Продажа</p>
                                                <p>Активный</p>
                                            </div>
                                            <div class="col-md-12 share-items">
                                                <h3>Поделиться</h3>
                                                <ul class="share-icons">
                                                    <li><a href="#"><i class="flaticon-rss24 rss-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-facebook55 facebook-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-twitter20 twitter-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-youtube8 youtube-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-google29 google-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-dribbble14 dribble-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="flaticon-vimeo3 vimeo-icon"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-skype skype-icon"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scrolling text-center"><span>Навигация</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="video-section" class="video-section section slant-angle">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="section-title text-center color-white animated" data-animation="fadeInRight" data-animation-delay="300">Профессиональное создание шаблонов</h2>
                            <p class="sub-title text-center color-white animated" data-animation="fadeInLeft" data-animation-delay="300">К тому же высокая информативность порождена временем. Выставочный стенд продуцирует коллективный баинг и селлинг.</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 animated video-part" data-animation="fadeInLeft" data-animation-delay="300">
                            <div class="video-bg">
                                <div id="video_container"></div>
                                <iframe class="fitvids" src="https://player.vimeo.com/video/151850021"></iframe>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 animated video-description" data-animation="fadeInRight" data-animation-delay="300">
                            <h3 class="video-title">Ребрендинг ригиден как никогда. Медиавес вполне вероятен. В общем, стимулирование коммьюнити амбивалентно.</h3>
                            <ul>
                                <li><i class="flaticon-film50"></i>
                                    <p>Ребрендинг ригиден как никогда. Медиавес вполне вероятен. В общем, стимулирование коммьюнити амбивалентно.</p>
                                </li>
                                <li><i class="flaticon-rising2"></i>
                                    <p>Ребрендинг ригиден как никогда. Медиавес вполне вероятен. В общем, стимулирование коммьюнити амбивалентно.</p>
                                </li>
                                <li><i class="flaticon-share4"></i>
                                    <p>Ребрендинг ригиден как никогда. Медиавес вполне вероятен. В общем, стимулирование коммьюнити амбивалентно.</p>
                                </li>
                            </ul>
                            <div class="button"><a href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="work-section" class="section your-work-section slant-angle">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="section-title text-center animated" data-animation="fadeInRight" data-animation-delay="500">Охват аудитории основан на опыте повседневного применения</h2>
                            <p class="sub-title text-center animated" data-animation="fadeInLeft" data-animation-delay="500">Пресс-клиппинг, пренебрегая деталями, отражает коллективный рекламный макет. Медиамикс неоднозначен. Несмотря на сложности, рейт-карта консолидирует бренд, повышая конкуренцию.</p>
                        </div>
                    </div>
                </div>
                <div class="container slider-container">
                    <div class="row">
                        <div class="col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="500">
                            <div id="your-work-carousel" class="owl-carousel work-carousel-slider">
                                <div class="screen-item"><img src='{% static "images/your-works/1.jpg" %}' width="370" height="220" alt="Works" class="img-responsive">
                                    <div class="mask">
                                        <div class="mask-top text-center color-white">
                                            <h3>Название услуги</h3><span class="date">категория</span>
                                        </div>
                                        <div class="mask-links">
                                            <ul>
                                                <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/1.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                                </li>
                                                <li><a class="link work-control" href='{% url "portfolio_single" %}' title="Link to Work"><i class="fa fa-link color-blue"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="screen-item"><img src='{% static "images/your-works/2.jpg" %}' width="370" height="220" alt="Works" class="img-responsive">
                                    <div class="mask">
                                        <div class="mask-top text-center color-white">
                                            <h3>Название услуги</h3><span class="date">категория</span>
                                        </div>
                                        <div class="mask-links">
                                            <ul>
                                                <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/2.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                                </li>
                                                <li><a class="link work-control" href='{% url "portfolio_single" %}' title="Link to Work"><i class="fa fa-link color-blue"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="screen-item"><img src='{% static "images/your-works/3.jpg" %}' width="370" height="220" alt="Works" class="img-responsive">
                                    <div class="mask">
                                        <div class="mask-top text-center color-white">
                                            <h3>Название услуги</h3><span class="date">категория</span>
                                        </div>
                                        <div class="mask-links">
                                            <ul>
                                                <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/3.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                                </li>
                                                <li><a class="link work-control" href='{% url "portfolio_single" %}'title="Link to Work"><i class="fa fa-link color-blue"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="screen-item"><img src='{% static "images/your-works/4.jpg" %}' width="370" height="220" alt="Works" class="img-responsive">
                                    <div class="mask">
                                        <div class="mask-top text-center color-white">
                                            <h3>Название услуги</h3><span class="date">категория</span>
                                        </div>
                                        <div class="mask-links">
                                            <ul>
                                                <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/4.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                                </li>
                                                <li><a class="link work-control" href='{% url "portfolio_single" %}' title="Link to Work"><i class="fa fa-link color-blue"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="screen-item"><img src='{% static "images/your-works/5.jpg" %}' width="370" height="220" alt="Works" class="img-responsive">
                                    <div class="mask">
                                        <div class="mask-top text-center color-white">
                                            <h3>Название услуги</h3><span class="date">категория</span>
                                        </div>
                                        <div class="mask-links">
                                            <ul>
                                                <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/5.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                                </li>
                                                <li><a class="link work-control" href='{% url "portfolio_single" %}' title="Link to Work"><i class="fa fa-link color-blue"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="screen-item"><img src='{% static "images/your-works/6.jpg" %}' width="370" height="220" alt="Works" class="img-responsive">
                                    <div class="mask">
                                        <div class="mask-top text-center color-white">
                                            <h3>Название услуги</h3><span class="date">категория</span>
                                        </div>
                                        <div class="mask-links">
                                            <ul>
                                                <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/6.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                                </li>
                                                <li><a class="link work-control" href='{% url "portfolio_single" %}' title="Link to Work"><i class="fa fa-link color-blue"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="screen-item"><img src='{% static "images/your-works/7.jpg" %}' width="370" height="220" alt="Works" class="img-responsive">
                                    <div class="mask">
                                        <div class="mask-top text-center color-white">
                                            <h3>Название услуги</h3><span class="date">категория</span>
                                        </div>
                                        <div class="mask-links">
                                            <ul>
                                                <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/7.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                                </li>
                                                <li><a class="link work-control" href='{% url "portfolio_single" %}' title="Link to Work"><i class="fa fa-link color-blue"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="screen-item"><img src='{% static "images/your-works/8.jpg" %}' width="370" height="220" alt="Works" class="img-responsive">
                                    <div class="mask">
                                        <div class="mask-top text-center color-white">
                                            <h3>Название услуги</h3><span class="date">категория</span>
                                        </div>
                                        <div class="mask-links">
                                            <ul>
                                                <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/8.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                                </li>
                                                <li><a class="link work-control" href='{% url "portfolio_single" %}' title="Link to Work"><i class="fa fa-link color-blue"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="screen-item"><img src='{% static "images/your-works/9.jpg" %}' width="370" height="220" alt="Works" class="img-responsive">
                                    <div class="mask">
                                        <div class="mask-top text-center color-white">
                                            <h3>Название услуги</h3><span class="date">категория</span>
                                        </div>
                                        <div class="mask-links">
                                            <ul>
                                                <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/9.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                                </li>
                                                <li><a class="link work-control" href='{% url "portfolio_single" %}' title="Link to Work"><i class="fa fa-link color-blue"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock container %}