{% extends "base-page.html" %}
{% load static %}


{% block title %}
    Services
{% endblock title %}

{% block container %}


    <div class="page-desc-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-desc">
                    <h2 class="animated" data-animation="fadeInRight" data-animation-delay="300">Об услугах</h2>
                    <p class="animated" data-animation="fadeInLeft" data-animation-delay="300">До недавнего времени считалось, что узнавание бренда категорически индуцирует департамент маркетинга и продаж.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="work-area section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="section-title text-center color-black animated" data-animation="fadeInRight" data-animation-delay="300">Согласно ставшей уже классической работе</h2>
                    <p class="sub-title text-center color-black animated" data-animation="fadeInLeft" data-animation-delay="300">Анализ рыночных цен, не меняя концепции, изложенной выше, довольно хорошо сбалансирован.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="work-box animated" data-animation="pulse" data-animation-delay="300"><i class="flaticon-gears5"></i>
                        <h3>Имиджевая реклама</h3>
                        <p>Как предсказывают футурологи потребление усиливает сублимированный метод изучения рынка, опираясь на опыт западных коллег.</p><a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="work-box animated" data-animation="pulse" data-animation-delay="500"><i class="flaticon-apple"></i>
                        <h3>Стимулирование сбыта</h3>
                        <p>Как предсказывают футурологи потребление усиливает сублимированный метод изучения рынка, опираясь на опыт западных коллег.</p><a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="work-box animated" data-animation="pulse" data-animation-delay="700"><i class="flaticon-refresh"></i>
                        <h3>Бесплатная доставка</h3>
                        <p>Как предсказывают футурологи потребление усиливает сублимированный метод изучения рынка, опираясь на опыт западных коллег.</p><a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="work-box animated" data-animation="pulse" data-animation-delay="900"><i class="flaticon-user3"></i>
                        <h3>Быстрая оплата</h3>
                        <p>Как предсказывают футурологи потребление усиливает сублимированный метод изучения рынка, опираясь на опыт западных коллег.</p><a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="work-section" class="your-work-section section slant-angle">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="section-title text-center color-white animated" data-animation="fadeInRight" data-animation-delay="300">Повышение жизненных стандартов синхронизирует</h2>
                        <p class="sub-title text-center color-white animated" data-animation="fadeInLeft" data-animation-delay="300">Высокая информативность экономит рекламный бриф. Визуализация концепии, безусловно, изящно охватывает эксклюзивный метод изучения рынка. Стратегия предоставления скидок и бонусов отражает медиамикс, полагаясь на инсайдерскую информацию. Экспансия усиливает конвергентный продуктовый ассортимент.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="800">
                        <div id="your-work-carousel" class="owl-carousel work-carousel-slider">
                            <div class="screen-item"><img src='{% static "images/your-works/1.jpg" %}' width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/1.jpg" title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src='{% static "images/your-works/2.jpg" %}' width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/2.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src='{% static "images/your-works/3.jpg" %}' width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/3.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src='{% static "images/your-works/4.jpg" %}' width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/4.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src='{% static "images/your-works/5.jpg" %}' width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/5.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src='{% static "images/your-works/6.jpg" %}' width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/6.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src='{% static "images/your-works/7.jpg" %}' width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/7.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src='{% static "images/your-works/8.jpg" %}' width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/8.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src='{% static "images/your-works/9.jpg" %}' width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href='{% static "images/your-works/9.jpg" %}' title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scrolling text-center"><span>Навигация</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="features-section" class="features-section section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated" data-animation="fadeInRight" data-animation-delay="500">
                    <h2 class="section-title text-center color-black animated" data-animation="fadeInRight" data-animation-delay="500">Что мы предлагаем?</h2>
                    <p class="sub-title text-center color-black animated" data-animation="fadeInLeft" data-animation-delay="500">План размещения методически допускает мониторинг активности. Опрос последовательно усиливает коллективный пак-шот.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 animated" data-animation="pulse" data-animation-delay="300">
                    <div class="col-xs-3"><i class="fa fa-gear feature-icon"></i>
                    </div>
                    <div class="col-xs-9"><span class="content-title text-center color-black">Дизайн</span>
                        <p class="feature-content">К тому же высокая информативность порождена временем. Выставочный стенд продуцирует коллективный баинг и селлинг.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animated" data-animation="pulse" data-animation-delay="600">
                    <div class="col-xs-3"><i class="flaticon-apple feature-icon"></i>
                    </div>
                    <div class="col-xs-9"><span class="content-title text-center color-black">Проектирование</span>
                        <p class="feature-content">К тому же высокая информативность порождена временем. Выставочный стенд продуцирует коллективный баинг и селлинг.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animated" data-animation="pulse" data-animation-delay="900">
                    <div class="col-xs-3"><i class="fa fa-comment feature-icon"></i>
                    </div>
                    <div class="col-xs-9"><span class="content-title text-center color-black">Оптимизация</span>
                        <p class="feature-content">К тому же высокая информативность порождена временем. Выставочный стенд продуцирует коллективный баинг и селлинг.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animated" data-animation="pulse" data-animation-delay="1200">
                    <div class="col-xs-3"><i class="flaticon-list50 feature-icon"></i>
                    </div>
                    <div class="col-xs-9"><span class="content-title text-center color-black">Комплексность</span>
                        <p class="feature-content">К тому же высокая информативность порождена временем. Выставочный стенд продуцирует коллективный баинг и селлинг.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animated" data-animation="pulse" data-animation-delay="1500">
                    <div class="col-xs-3"><i class="fa fa-code feature-icon"></i>
                    </div>
                    <div class="col-xs-9"><span class="content-title text-center color-black">Производство</span>
                        <p class="feature-content">К тому же высокая информативность порождена временем. Выставочный стенд продуцирует коллективный баинг и селлинг.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animated" data-animation="pulse" data-animation-delay="1800">
                    <div class="col-xs-3"><i class="flaticon-info2 feature-icon"></i>
                    </div>
                    <div class="col-xs-9"><span class="content-title text-center color-black">Поддержка</span>
                        <p class="feature-content">К тому же высокая информативность порождена временем. Выставочный стенд продуцирует коллективный баинг и селлинг.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="skill" class="skill section slant-angle">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="color-white animated text-center" data-animation="fadeInRight" data-animation-delay="300">Бренд, как принято считать, трансформирует PR</h2>
                        <p class="sub-title animated" data-animation="fadeInLeft" data-animation-delay="300">Как предсказывают футурологи целевой трафик программирует институциональный нишевый проект. Перераспределение бюджета позиционирует имидж предприятия.</p>
                    </div>
                </div>
                <div class="row">
                    <div id="skill-slider" class="price-carousel-slider">
                        <div class="skill-box animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="piechart" data-percent="37" data-barcolor="#38486F"><span></span>
                            </div>
                            <p class="counter-description">Поисковая реклама</p>
                        </div>
                        <div class="skill-box animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="piechart" data-percent="65" data-barcolor="#38486F"><span></span>
                            </div>
                            <p class="counter-description">Поисковая реклама</p>
                        </div>
                        <div class="skill-box animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="piechart" data-percent="80" data-barcolor="#38486F"><span></span>
                            </div>
                            <p class="counter-description">Поисковая реклама</p>
                        </div>
                        <div class="skill-box animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="piechart" data-percent="100" data-barcolor="#38486F"><span></span>
                            </div>
                            <p class="counter-description">Поисковая реклама</p>
                        </div>
                    </div>
                    <div class="scrolling text-center"><span>Навигация</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pricing" class="pricing section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="section-title text-center animated" data-animation="fadeInRight" data-animation-delay="300">Выберите тарифный план</h2>
                    <p class="sub-title text-center animated" data-animation="fadeInLeft" data-animation-delay="300">Ребрендинг ригиден как никогда. Медиавес вполне вероятен. В общем, стимулирование коммьюнити амбивалентно.</p>
                </div>
            </div>
        </div>
        <div class="container slider-container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="pricing-slider" class="price-carousel-slider">
                        <div class="price-item animated" data-animation="fadeInUp" data-animation-delay="500">
                            <div class="price-box">
                                <div class="price-category">
                                    <h3>Стандарт</h3>
                                </div>
                                <div class="price-box-inner">
                                    <div class="price">
                                        <div class="currency">500 р.</div>
                                        <br><span class="time-period">/в неделю</span>
                                    </div>
                                    <ul class="price-details">
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                    </ul>
                                    <div class="order-now">
                                        <div class="button"><a href="#">ЗАКАЗАТЬ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-item animated" data-animation="fadeInUp" data-animation-delay="700">
                            <div class="price-box">
                                <div class="price-category">
                                    <h3>Бизнес</h3>
                                </div>
                                <div class="price-box-inner">
                                    <div class="price">
                                        <div class="currency">600 р.</div>
                                        <br><span class="time-period">/в неделю</span>
                                    </div>
                                    <ul class="price-details">
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                    </ul>
                                    <div class="order-now">
                                        <div class="button"><a href="#">ЗАКАЗАТЬ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-item animated" data-animation="fadeInUp" data-animation-delay="900">
                            <div class="price-box">
                                <div class="price-category premium">
                                    <h3>Премиум</h3>
                                </div>
                                <div class="price-box-inner">
                                    <div class="price">
                                        <div class="currency">800 р.</div>
                                        <br><span class="time-period">/в неделю</span>
                                    </div>
                                    <ul class="price-details">
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                    </ul>
                                    <div class="order-now">
                                        <div class="button"><a href="#">ЗАКАЗАТЬ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-item animated" data-animation="fadeInUp" data-animation-delay="1100">
                            <div class="price-box">
                                <div class="price-category">
                                    <h3>Индивидуальный</h3>
                                </div>
                                <div class="price-box-inner">
                                    <div class="price">
                                        <div class="currency">900 р.</div>
                                        <br><span class="time-period">/в неделю</span>
                                    </div>
                                    <ul class="price-details">
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                    </ul>
                                    <div class="order-now">
                                        <div class="button"><a href="#">ЗАКАЗАТЬ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scrolling text-center"><span>Навигация</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock container %}    
